body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.form, .output {
    display: block;
    margin: 0 auto;
    text-align: center;
}

input {
    border: 1px solid #e3e3e3;
    background: #f6f6f6;
    padding: 12px 20px;
    width: 200px;
}

h1, p { color: #666666; }
h2 { color: #cc0000; }
